.mainContainer{
    width: 100%;
}
.notificationContainer{
    width: 100%;
    height: 100vh;
    background-color: #F1F2F4;
    display: flex;

    justify-content: center;
}
.centerNotifyCOntainer{
    width: 50%;
}
@media (max-width:768px) {
    .centerNotifyCOntainer{
        width: 100%;
    }
}