/* chat.module.css */

/* Wrapper for chat messages */
.chat-container {
    /* background-image: url('../../public/image/sidebar\ backgroubd.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: white;
    height: 100vh;
  }
  
  /* Style for individual chat bubbles */
  .message-bubble {
    padding: 10px;
    border-radius: 15px;
    max-width: 70%; /* Adjust the max width as needed */
    word-wrap: break-word;
}


.chatUsers{
  border-bottom: 1px solid #186734;
  /* border-right: 1px solid #186734; */
}
.user-message:hover {
  background-color: #0056b3;
}

.user-message {
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.admin-message {
  border-top-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.admin-message:hover {
  background-color: #e5e5e5;
}
.leftSide{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  padding-top: 5px;
  width: 100%;
}
.backIcon{
  display: none;
}
@media (max-width:768px) {
  .leftSide{
    display: none;
   
  }
   .leftSideshow{
    display: block!important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 0px;
  }
  .backIcon{
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  .mainRightSideContainer{
    display: none;
  }
  .mainRightSideContainer .show{
    display: block!important;
  }
}