.inviteTable{
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.tabCOntainer{
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: center;
}
@media (max-width: 808px) {
   
    .inviteTable{
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    .tabCOntainer{
        width: 90%;
        margin-left: 20px;
        margin-top: 24px;
        display: flex;
        /* justify-content: center; */
        
    }
   
}