.customButton{
    flex: 1;
    background-color: black;
    color: white;
    margin-right: 30px;
    border:'1px solid white'
}
.customButton:hover,
.customButton:focus {
    outline: none !important;
    border-color: transparent !important;
    color: inherit !important;
  background-color: green;
}
.formContainer{
  display: flex;
  gap :20px;
}
.joinInput{
  width:590px;
  height: 40px;
  text-overflow: ellipsis;
  background-color: transparent;
  border: 0px;
  color: white;
  border-bottom: 1px solid;
  padding-left: 5px;
}
.Joinbutton{
  background-color: black;
  color: white;
  height: 40px;
  padding:2px;
  /* padding: 10px 15px; */
  border:1px solid white;
}
.Joinbutton:hover{
  background-color:#077612;

  color: white!important;
  border: none !important;
  cursor: pointer;
}
.mainContainer{
  background-color: black;
  width: 100%;
  min-height: 250px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  /* Your CSS styles for this range go here */
  .mainContainer{
    background-color: black;
    width: 100%;
    height:  460px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo{
    margin: 0px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
  }
  .foot1 {
    color: #FFFFFF;
    font-family: avenir-lt-w01_35-light1475496,sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0em;
    line-height: 1.6;
  }
  .foot2 {
      color: #FFFFFF;
      font-size: 12px;
      font-style: normal;
  }
  .footerTextJoin{
    margin-left: 60px;
  }
}
@media (max-width: 768px) {
  .mainContainer{
    background-color: black;
    width: 100%;
    height:  460px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo{
    margin: 0px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
  }
  .foot1 {
    color: #FFFFFF;
    font-family: avenir-lt-w01_35-light1475496,sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0em;
    line-height: 1.6;
  }
  .foot2 {
      color: #FFFFFF;
      font-size: 12px;
      font-style: normal;
  }


}
.foot1 {
  color: #FFFFFF;
  font-family: avenir-lt-w01_35-light1475496,sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  letter-spacing: 0em;
  line-height: 1.6;
}
.foot2 {
    color: #FFFFFF;
    font-size: 12px;
    font-style: normal;
}
.foot3{
  color: #FFFFFF;
  font-family: avenir-lt-w01_85-heavy1475544,avenir-lt-w05_85-heavy,sans-serif;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0em;
  line-height: 1.2;
}