/* Add this CSS to your stylesheet or component style */
.cover-photo-container {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #f0f0f0;
    /* Background color for the placeholder */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cover-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile-pic {
    max-height: 200px;
    position: absolute;
    right: 0;
    /* top: 10%; */
    bottom: 0;
}

.cover-edit {
    position: absolute;
    top: 2px;
    right: 2px;
    /* left : 20%; */
    color: black;
    cursor: pointer;
}

.no-cover-photo-placeholder {
    text-align: center;
    color: #888;
    /* Placeholder text color */
    font-size: 16px;
}

.cover-placeholder {
    margin-bottom: 10px;
}

.cover-photo-input {
    display: none;
}

/* Styling for the file input label (can be customized) */
.label-for-input {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    /* Button background color */
    color: #fff;
    /* Button text color */
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

/* Style the label when the input is hovered (can be customized) */
.label-for-input:hover {
    background-color: #0056b3;
    /* Hovered button background color */
}

.overlay-div {
    position: absolute;
    top: 50%;
    /* Center vertically */
    left: 0;
    /* Align to the left */
    transform: translateY(-50%);
    /* Adjust for vertical centering */
    color: #fff;
    /* Overlay text color */
    padding: 21px 30px;
    /* Overlay div covers the entire container width */
    box-sizing: border-box;
    text-align: center;
    /* Center the content horizontally */
    background-color: rgba(37.05, 98.81, 8.65, 0.80);
    text-align: left;
    padding-left: 50px;
    width: 47%;

}

.label {
    margin-top: 10px;
}

.label .text-wrapper {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-shadow: 0px 4px 4px #0000004c;

}

.label .text-wrapper-2 {
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    text-shadow: 0px 4px 8px #0000004c;
    white-space: nowrap;
    margin-top: 15px;
    overflow: hidden;
}

.cover-label-top {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    text-shadow: 0px 4px 4px #0000004c;
    margin-bottom: 15px;
    margin-top: 10px;
}

.cover-label-bottom {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    text-shadow: 0px 4px 8px #0000004c;
    white-space: nowrap;
    overflow: hidden;
}

.cover-holder-1 {
    padding-left: 0px !important;
}

.cover-holder {
    padding-left: 0px;
    padding-left: 22px;
    margin-top: 15px;
}

.cover-holder.line-border {
    border-right: 2px solid white;
}

@media (max-width:768px) {

    .cover-photo-container {
        height: 200px;
    }

    .label .text-wrapper-2 {
        font-size: 12px;
    }

    .cover-holder.line-border {
        border: none;
    }

    .cover-holder {
        padding-left: 0px;
        margin-top: 10px;
    }

    .cover-holder div {
        font-size: 12px !important;
    }

    .text-wrapper-2 {
        font-size: 12px !important;
        overflow: hidden;
    }

    .text-wrapper {
        font-size: 12px !important;
    }

    .overlay-div {
        width: 100%;
        background-color: rgba(37.05, 98.81, 8.65, 0.30);
    }

    .another-class {
        display: flex;
    }

    .cover-label-top {
        display: inline;
    }

    .cover-label-bottom {
        display: inline;
        margin-left: 3px;
    }

    .socialbox div>* {
        font-size: 14px;
        padding: 0px;
    }

    .social-follow {
        padding: 6px;
        margin-top: 8px;
    }

    .social-follow span {
        font-size: 12px;
        font-weight: 300;

    }

    .acabox div {
        margin: 0px;
        padding: 0px;
        padding-top: 10px;
        font-size: 14px !important;
    }

    .acabox .acabox-border {
        border: none;
    }

    .acabox .acabox-holder {
        margin-left: -15px !important;
    }
}