.socialbox {
  background-color: #737373;
  padding: 12px;
  padding-left: 66px;
}

.soocialcover-label-top {
  color: #ffffff;
  font-family : sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.soocialcover-label-bottom {
  color: #ffffff;
 font-family : sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 5px;
  overflow: hidden;
}

.soocialcover-holder-1 {
  padding-left: 0px !important;
}

.soocialcover-holder {
  padding-left: 0px;
  padding-left: 22px;
  margin-top: 15px;
}

.soocialline-border {
  border-right: 1px solid white;
}

.social-follow-parent {
  padding: 20px;
  width: 136px;
  display: flex;
  justify-content: center;
  /* Horizontally center the content */
  align-items: center;
  /* Vertically center the content */
}

.social-follow {
  background-color: #D8E91D;
  color: black;
  /* padding: 10px; */
  padding: 12px !important;
  border-radius: 6px;
  cursor: pointer;

}

.social-follow span {
  color: #000000;
 font-family : sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.acabox {
  background-color: #414141;
  padding: 30px;
  padding-left: 66px;
}

.acabox-label-top {
  color: #ffffff;
  font-family : sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.acabox-label-bottom {
  color: #ffffff;
 font-family : sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 5px;
  overflow: hidden;
}

.acabox-holder-1 {
  padding-left: 0px !important;
}

.acabox-holder {
  padding-left: 0px;
  padding-left: 22px;
  margin-top: 15px;
}

.acabox-border {
  border-right: 1px solid white;
}

.acabox-aca {
  color: #ffffff;
 font-family : sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  text-shadow: 0px 4px 4px #0000004c;
}

div.no-left-margin {
  margin-left: -15px !important;
  padding-left: 0px !important;
}

@media (max-width:768px) {
  .social-follow-parent {
    margin-left: 0px;
    margin-top: 10px;
    justify-content: left!important;
  }
  .soocialcover-label-top {
  display: inline;
  }
  .soocialcover-label-bottom{
  display: inline;
margin-left: 20px;
  }
  .acabox-label-top{
  display: inline;

  }
  .acabox-label-bottom{
  display: inline;
  margin-left: 20px!important;

  }
}