/* styles.module.css */
.row {
    margin-top: 50px;
  }
  
  .col {
    /* Define your column styles here */
    display : flex;
    flex-direction: column;
    align-items: center;
  }
  
  .floating-label-group {
    position: relative;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  
  .floating-label {
    font-size: 13px;
    color: #cccccc;
    position: absolute;
    pointer-events: none;
    top: 9px;
    left: 12px;
    transition: all 0.1s ease;
  }
  
  .input:focus ~ .floating-label,
  .input:not(:focus):valid ~ .floating-label {
    top: -15px;
    bottom: 0px;
    left: 0px;
    font-size: 11px;
    opacity: 1;
    color: #404040;
  }
  .input {
    outline: 0!important;
    border-width: 0 0 2px!important;
    border-color: black!important;
    
  }
  .input:focus {
    border-color: black!important;
    outline: 0px dotted #000!important;
    box-shadow : none!important;
  }
  