.mainContainer{
    position: relative;
    width: 100%;
    height: 510px;
    max-height: 600px;
    overflow: hidden;
}
.mainImage{
    /* height: 100%; */
    width: 100%;
    margin-top: -2px;
}
.overFlowContainer{
    position: absolute;
    top: 30%;
    left: 6%;
    width: 483.213px;
}
.overFlowContainer h1 {
    color: white;
    font-size: 61px;
    font-family: avenir-lt-w01_85-heavy1475544, avenir-lt-w05_85-heavy, sans-serif;
}
.overFlowContainer p {
    letter-spacing: normal;
    color: white;
    font-size: 17.6px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.8px;
    font-family: avenir-lt-w01_35-light1475496, avenir-lt-w05_35-lig;
}
.container2{
    margin: 0px;
    background-color: #4E4F4E;
    width: 100%;
    height: 1013px;
    max-height: max-content;
}
.mainLeft{
    width: 100%;
    flex: 5.8;
   /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end!important;
    padding-right: 0px;
}
.container2Left  {
    /* border: 1px solid green; */
    width: 91.2515869398916%;
    height: max-content;
    --l_display: unset;
    top: calc(var(--top) + var(--sticky-top) + var(--wix-ads-height) * var(--is-sticky));
    align-self: start;
    justify-self: end;
    margin-top: 65px;
    margin-bottom: 0px;
    margin-right: 0%;
    margin-left: 0%;
    grid-area: 1/1/2/2;
    position: relative;
    --is-sticky: 0;
    --sticky-top: 0px;
    --top: 0px;
}
.container2Left img{
    object-fit: cover;
    object-position: 39% 27%;
    width: 100%;
}
.container2LeftSpan{
    height: auto;
    width: 99.69343106379421%;
    --l_display: unset;
    top: calc(var(--top) + var(--sticky-top) + var(--wix-ads-height) * var(--is-sticky));
    display: var(--l_display,var(--display));
    margin-left: 0.30656893620579134%;
    margin-right: 0%;
    margin-bottom: 47.21875px;
    align-self: center;
    order: 2;
    position: relative;
    --is-sticky: 0;
    --sticky-top: 0px;
    --top: 0px;
}
.container2LeftSpanText{
    color: #D9E70E;
    font-family: avenir-lt-w01_85-heavy1475544,avenir-lt-w05_85-heavy,sans-serif;
    font-size: 30px;
    line-height: 1.3;
    font-style: normal;
}
.container2LeftPDiv{
    height: auto;
    width: 53.15155210211574%;
    --l_display: unset;
    top: calc(var(--top) + var(--sticky-top) + var(--wix-ads-height) * var(--is-sticky));
    display: var(--l_display,var(--display));
    margin-left: 0.30613965676036786%;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
    align-self: flex-start;
    order: 3;
    position: relative;
    --is-sticky: 0;
    --sticky-top: 0px;
    --top: 0px;
}
    
.container2LeftPDiv p{
    font-family: avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
    color: #FFFFFF;
    font-style: normal;
    line-height: 1.6;
    margin-block: 0;
    margin: 0;
    letter-spacing: normal;
    font-size: 18px;

}
.container2LeftPDivspan{
    
    font-family: avenir-lt-w01_85-heavy1475544, avenir-lt-w05_85-heavy, sans-serif;
}

.Container2imageButton {
height: 46px;
font-family: sans-serif;
font-size: 10px;
width: 253px;
vertical-align: baseline;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
}
.Container2imageButton a{
   display: flex;
    background-color: rgb(7, 119, 19);
font-size: 16px;
width: 253px;
height: 46px;
color: white;
text-decoration: none;
text-align: center;
justify-content: center;
}
  .Container2imageButton:hover,
  .Container2imageButton:focus {
    background-color: black;
    color: rgb(128, 232, 44);
    border-color: transparent;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
.mainRight{
    display: flex;
    flex-direction: column;
    flex: 5.5;
}
.container2Right{
    width: 84.16826260565749%;
    height: max-content;
    --l_display: unset;
    top: calc(var(--top) + var(--sticky-top) + var(--wix-ads-height) * var(--is-sticky));
    align-self: center;
    justify-self: center;
    margin-top: 65px;
    margin-bottom: 0px;
    margin-left: 0%;
    margin-right: 3.831542083961749%;
    grid-area: 1/2/2/3;
    position: relative;
    --is-sticky: 0;
    --sticky-top: 0px;
    --top: 0px;

}
.container2RightInner{
    height: max-content;
    margin-top: 40.3333px;
    margin-bottom: 0px;
    margin-left: 0%;
    /* border: 1px solid red; */

}
.container2RightSpan{
    font-family: avenir-lt-w01_85-heavy1475544, avenir-lt-w05_85-heavy, sans-serif;
    color: #FFFFFF;
    font-size: 30px;
}
.container2Righth4container{
    
    margin-bottom: 44.203125px;
    align-self: center;
    margin-top: 10px;
}
.container2Right h4{
    margin: 0px;
    color: #FFFFFF;
    font-family: avenir-lt-w01_85-heavy1475544,avenir-lt-w05_85-heavy,sans-serif;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.8;
}
.blankdiv {
    border: 5px solid yellow;
    width: 10%;
    margin-top: 15px;
  }
  .container2RightPDiv{
    display: flex;
    flex-direction: column;
    width: 99.99807039209632%;
  }
  .container2RightPDiv p{
    font-family: avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.4;
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.8;
  }
  .container3{
    width: 100%;
}
  
  .container3InnerContainer{
    width: 90%;
    
    height: max-content;
    --l_display: unset;
    top: calc(var(--top) + var(--sticky-top) + var(--wix-ads-height) * var(--is-sticky));
    align-self: start;
    justify-self: center;
    margin-left: 5%;
    margin-right: 0%;
    margin-top: 75px;
    margin-bottom: 0px;
    grid-area: 1/1/2/2;
    position: relative;
    --is-sticky: 0;
    --sticky-top: 0px;
    --top: 0px;
  }
  .container3h3{
    margin-left: 30px;
  }
  .container3h3 h3{
    color: #055E0F;
    font-family: avenir-lt-w01_85-heavy1475544,avenir-lt-w05_85-heavy,sans-serif;
    font-size: 48px;
    font-weight: 500;
    
}
.container3Box{
    background-color: #E9EBED;
    margin: 30px;
    height: 350px;
    display: flex;
    flex-direction: row;
}
.boxLeftDiv{
   flex: 3;
    padding: 0px;
    height: 350px;
    width: 398px;
    }
.boxLeftDiv img{
    object-fit: cover;
    width: 100%;
    height: 350px;

}
.boxRightDiv{
    margin-top: 20px;
    /* width: 100%; */
   flex:8;
}
 .boxRightDiv p{
    color: black;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 0px;
    font-family:avenir-lt-w01_85-heavy1475544,avenir-lt-w05_85-heavy,sans-serif;
 }
 .boxRightDiv span{
    letter-spacing :0.39px;
    font-weight: 400;
    line-height: 1.5;
    font-size: 13px;
    font-stretch: normal;
    font-family:avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
 }
 .boxRightDivintro{
    margin-top: 30px;
 }
 .boxRightDiv ul{
    margin-top: 10px;
 }
 .boxRightDiv ul li{
    
    font-size: 13px;
    font-family:avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
 }
 .allBoximageButton {
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 20px;
    height: 46px;
    font-family:sans-serif;
    font-size: 10px;
    width: 253px;
    vertical-align: baseline;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    }
    .allBoximageButton a{
       display: flex;
        background-color: rgb(7, 119, 19);
    font-size: 16px;
    width: 253px;
    height: 46px;
    color: white;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    }
    @media (min-width: 768px) and (max-width: 1200px) {
        /* Your CSS styles for this range go here */
        .mainContainer{
            position: relative;
            width: 100%;
            height: 270px;
        }
        .mainImage{
            width: 100%;
            margin-top: -2px;
            height: 272px;
            object-fit: cover;
            object-position: 67% 15%;
            width: 100%;
        }
        .overFlowContainer{
            position: absolute;
            top: 30%;
            left: 5%;
            width: 240.213px;
        }
        .overFlowContainer h1 {
            color: white;
            font-size: 22.42px;
            font-family: avenir-lt-w01_85-heavy1475544, avenir-lt-w05_85-heavy, sans-serif;
        }
        .overFlowContainer p {
            /* display: none; */
            letter-spacing: normal;
            color: white;
            font-size: 13.8px;
            font-style: normal;
            line-height: 1.1rem;
            font-family: avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
        }
        .container2{
            height: auto!important;
             width: 100%;
             display: flex;
            
         }
         .mainLeft{
             width: 100%;
             /* border: 1px solid red; */
             padding: 0px;
         }
         .container2Left  {
             /* border: 1px solid green; */
             margin: auto;
             margin-top: 40px;
             width: 85%;
         }
         .container2Left img{
             object-fit: cover;
             /* object-position: 39% 27%; */
             width: 100%;
             height: 250px;
         }
         
         .container2LeftSpanText{
             color: #D9E70E;
             font-family: avenir-lt-w01_85-heavy1475544,avenir-lt-w05_85-heavy,sans-serif;
             font-size: 20px;
             line-height: 1.3;
             font-style: normal;
         }
         .Container2imageButton {
             margin-left: 0px;
         }
         .container2RightInner{
             height: max-content;
             margin-top: 0.3333px;
             margin-bottom: 0px;
             margin-left: 0%;
             /* border: 1px solid red; */
         
         }
         .container2RightSpan{
             font-family: avenir-lt-w01_85-heavy1475544, avenir-lt-w05_85-heavy, sans-serif;
             color: #FFFFFF;
             font-size: 20px;
         }
         .container2Righth4container{
             
             margin-bottom: 20.203125px;
             align-self: center;
             margin-top: 10px;
         }
         .container2Right h4{
             font-size: 13px;
             
         }
         .container2RightPDiv p{
             font-family: avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
             color: #FFFFFF;
             font-size: 13px;
             letter-spacing: 0.03em;
            
             color: #FFFFFF;
             font-size: 13px;
             letter-spacing: 0.03em;
             line-height: 1.3;
           }
           .container3Box{
            background-color: #E9EBED;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 10px;
            width: 100%;
            height: auto;
            display: flex;
            /* flex-direction: column; */
        }
        
        .boxLeftDiv{
            flex: 5;
             padding: 0px;
             height: auto;
             width: 100%;
             }
        .boxLeftDiv img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        
        }
        .boxRightDiv{
            margin-top: 20px;
            /* width: 100%; */
            height: auto;
           flex:6;
        }
        .boxRightDiv p{
            color: black;
            font-weight: 600;
            font-size: 11px;
            margin-bottom: 0px;
            font-family:avenir-lt-w01_85-heavy1475544,avenir-lt-w05_85-heavy,sans-serif;
         }
         .boxRightDiv span{
            letter-spacing :0.39px;
            font-weight: 400;
            line-height: 0.8;
            font-size: 10px;
            font-stretch: normal;
            font-family:avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
         }
         .boxRightDivintro{
            margin-top: 10px!important;
         }
         .boxRightDiv ul{
            margin-top: 10px;
         }
         .boxRightDiv ul li{
            
            font-size: 10px;
            font-family:avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
         }
      }
      
    @media (max-width: 808px) {

        .mainContainer{
    position: relative;
    width: 100%;
    height: auto;
}
.mainImage{
    width: 100%;
    margin-top: -2px;
    height: 188px;
    object-fit: cover;
    object-position: 67% 15%;
    width: 100%;
}
.overFlowContainer{
    position: absolute;
    top: 30%;
    left: 14%;
}
.overFlowContainer h1 {
    color: white;
    font-size: 22.42px;
    font-family: avenir-lt-w01_85-heavy1475544, avenir-lt-w05_85-heavy, sans-serif;
}
.overFlowContainer p {
    display: none;
    letter-spacing: normal;
    color: white;
    font-size: 13.8px;
    font-style: normal;
    line-height: 1.3rem;
    font-family: avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
}

.container2{
   height: auto!important;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.mainLeft{
    width: 100%;
    /* border: 1px solid red; */
    padding: 0px;
}
.container2Left  {
    /* border: 1px solid green; */
    margin: auto;
    margin-top: 40px;
    width: 85%;
}
.container2Left img{
    object-fit: cover;
    /* object-position: 39% 27%; */
    width: 100%;
    height: 250px;
}

.container2LeftSpanText{
    color: #D9E70E;
    font-family: avenir-lt-w01_85-heavy1475544,avenir-lt-w05_85-heavy,sans-serif;
    font-size: 15px;
    line-height: 1.3;
    font-style: normal;
}
.Container2imageButton {
    margin-left: 35px;
}
.container2RightInner{
    height: max-content;
    margin-top: 0.3333px;
    margin-bottom: 0px;
    margin-left: 0%;
    /* border: 1px solid red; */

}
.container2RightSpan{
    font-family: avenir-lt-w01_85-heavy1475544, avenir-lt-w05_85-heavy, sans-serif;
    color: #FFFFFF;
    font-size: 20px;
}
.container2Righth4container{
    
    margin-bottom: 20.203125px;
    align-self: center;
    margin-top: 10px;
}
.container2Right h4{
    font-size: 13px;
    
}
.container2RightPDiv p{
    font-family: avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
    color: #FFFFFF;
    font-size: 13px;
    letter-spacing: 0.03em;
    line-height: 1.1;
    color: #FFFFFF;
    font-size: 13px;
    letter-spacing: 0.03em;
    line-height: 1.8;
  }
  .container3{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.container3InnerContainer{
    width: 90%;
    margin-top: 50px;
    margin-left: 0%;
   height: auto;
  }
.container3h3{
    margin-left: 30px;
  }
  .container3h3 h3{
    color: #055E0F;
    font-family: avenir-lt-w01_85-heavy1475544,avenir-lt-w05_85-heavy,sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px!important;
}
.container3Box{
    background-color: #E9EBED;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.boxLeftDiv{
    flex: 3;
     padding: 0px;
     height: auto;
     width: 100%;
     }
.boxLeftDiv img{
    object-fit: cover;
    width: 100%;
    height: 250px;

}
.boxRightDiv{
    margin-top: 20px;
    /* width: 100%; */
    height: auto;
   flex:8;
}
.boxRightDiv p{
    color: black;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 0px;
    font-family:avenir-lt-w01_85-heavy1475544,avenir-lt-w05_85-heavy,sans-serif;
 }
 .boxRightDiv span{
    letter-spacing :0.39px;
    font-weight: 400;
    line-height: 1;
    font-size: 10px;
    font-stretch: normal;
    font-family:avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
 }
 .boxRightDivintro{
    margin-top: 10px!important;
 }
 .boxRightDiv ul{
    margin-top: 10px;
 }
 .boxRightDiv ul li{
    
    font-size: 10px;
    font-family:avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
 }
    }